/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 1, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
.loading {
  text-align: center;
  width: 100px;
  height: 63px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -32px;
}
/* line 10, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  margin: 31px auto;
  background: #2c3e50;
  border-radius: 63px;
  -webkit-animation: loading 1.3s infinite alternate;
          animation: loading 1.3s infinite alternate;
}

/* line 20, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
#bubblingG_1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/* line 23, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
#bubblingG_2 {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}

/* line 26, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
#bubblingG_3 {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}

@-webkit-keyframes loading {
  /* line 30, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
  0% {
    width: 13px;
    height: 13px;
    background-color: #2c3e50;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  /* line 35, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
  100% {
    width: 30px;
    height: 30px;
    background-color: white;
    -webkit-transform: translateY(-26px);
            transform: translateY(-26px);
  }
}

@keyframes loading {
  /* line 30, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
  0% {
    width: 13px;
    height: 13px;
    background-color: #2c3e50;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  /* line 35, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/preloader.css.sass */
  100% {
    width: 30px;
    height: 30px;
    background-color: white;
    -webkit-transform: translateY(-26px);
            transform: translateY(-26px);
  }
}
/* standard select styling */
/* line 3, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/selects.css.sass */
select {
  background: white url("http://punkchip.com/images/select-arrows.png") no-repeat 100% 50%;
  border: 0;
  border-radius: 0;
  padding: 0.7em 2em 0.65em 0.5em;
  -webkit-appearance: button;
  display: block;
  width: 100%;
}

/* remove arrows from Firefox */
@-moz-document url-prefix() {
  /* line 14, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/selects.css.sass */
  .select-wrap {
    border-radius: 0;
    position: relative;
  }
  /* line 17, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/selects.css.sass */
  .select-wrap:before {
    content: " ";
    background: transparent url("http://punkchip.com/images/select-arrows.png") no-repeat 50% 50%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 15px;
    margin-top: -8px;
    display: inline-block;
    pointer-events: none;
  }

  /* line 29, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/selects.css.sass */
  select {
    -moz-appearance: treeitem;
  }
}

/* remove arrows from IE10 */
/* line 33, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/selects.css.sass */
select::-ms-expand {
  display: none;
}
/* line 5, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
body, input, button, select {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2c3e50;
}

/* line 10, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 16, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.searched .info-bar, .searched .places-list {
  display: block;
}

/* line 19, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
ul, ol, li, p, h1, h2, h3, input {
  margin: 0;
  padding: 0;
}

/* line 23, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
h1 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.75em;
  text-transform: uppercase;
  text-align: center;
}
/* line 29, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
h1 a {
  text-decoration: none;
}

/* line 32, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
input {
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  line-height: 1.5;
  padding: 0.5em;
}
/* line 38, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
input.error {
  outline: 2px solid #f2784b;
}

/* line 41, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
input, select {
  vertical-align: middle;
}

/* line 44, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.right {
  float: right;
}

/* line 47, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
li {
  list-style-type: none;
}

/* line 50, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
label {
  display: block;
}

/* line 53, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.fake-label {
  display: inline-block;
}

/* line 56, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.non-mobile {
  display: none;
}

/* line 59, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.non-mobile, .mobile {
  font-style: normal;
}

/* line 62, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.btn {
  background-color: #53c043;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  color: white;
  padding: 0.7em 1.5em 0.9em;
  text-decoration: none;
}
/* line 70, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.btn:hover {
  background-color: #419b34;
}
/* line 72, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.btn.btn-small {
  font-size: 12px;
  background-color: #419b34;
}

/* line 76, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
p, li {
  line-height: 1.5;
}

/* line 79, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
a {
  color: #59abe3;
  text-decoration: underline;
}

/* line 83, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
p.error {
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5em;
}

/* line 88, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.social {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: right;
  font-size: 12px;
}
/* line 97, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.social a {
  color: #2c3e50;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}
/* line 102, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.social a:hover {
  opacity: 0.5;
}

/* line 105, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.twitter, .facebook {
  display: none;
}

/* line 109, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
footer p {
  display: inline-block;
  padding: 1em;
}

/* line 113, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations {
  background: rgba(44, 62, 80, 0.8) url(/assets/icon-logo.png) no-repeat 1.25em 1.25em;
  -webkit-background-size: 30px auto;
          background-size: 30px auto;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  overflow: hidden;
  padding: 1.5em 1.25em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
}
/* line 128, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations ul.standard {
  opacity: 0;
  -webkit-transition: 150ms opacity ease-in;
          transition: 150ms opacity ease-in;
}
/* line 131, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations h1 {
  text-align: left;
  padding-left: 2.25em;
}
/* line 134, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations input {
  background: white url(/assets/icon-pin.png) no-repeat 0.25em 60%;
  -webkit-background-size: 25px auto;
          background-size: 25px auto;
  width: 100%;
  padding-left: 2em;
}
/* line 139, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations li {
  padding-bottom: 1.5em;
  width: 100%;
}
/* line 142, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations li.go {
  margin-top: 0.5em;
  padding-bottom: 0;
}
/* line 145, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations li.no-label {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 0.5em;
}
/* line 148, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations li.no-label .select-wrap {
  opacity: 0.7;
  padding: 0 0.5em;
}
/* line 151, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations li.no-label .fake-label {
  padding: 0 0.5em;
}
/* line 154, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations .share {
  opacity: 0;
  -webkit-transition: 450ms opacity ease-in;
          transition: 450ms opacity ease-in;
  position: absolute;
  left: 1.25em;
  bottom: 1.25em;
}
/* line 160, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.locations.showing-directions {
  display: none;
}

/* line 164, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.map-loaded .locations ul.standard {
  opacity: 1;
}
/* line 166, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.map-loaded .loading {
  display: none;
}

/* line 170, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.no-label label {
  position: absolute;
  left: -999em;
}

/* line 174, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.places-list {
  background-color: #26a65b;
  color: white;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 182, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.places-list li {
  cursor: pointer;
  padding: 0.5em 1em;
  border-bottom: 1px solid #219150;
}
/* line 186, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.places-list li span {
  font-size: 12px;
  display: block;
}
/* line 189, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.places-list li:hover {
  background-color: #219150;
}
/* line 191, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.places-list li:first-child {
  padding-top: 4em;
}
/* line 193, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.places-list li:last-child {
  border-bottom: 0;
}

/* line 196, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios {
  overflow: hidden;
  margin-top: 0.5em;
}
/* line 199, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-size: 11px;
  line-height: 1;
  min-height: 23px;
  padding-top: 50px;
  padding-bottom: 1em;
}
/* line 208, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li {
  float: left;
  padding-bottom: 0;
  width: 23.5%;
  margin-right: 2%;
  text-align: center;
}
/* line 214, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li:last-child {
  margin-right: 0;
}
/* line 217, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.drive label {
  background: rgba(255, 255, 255, 0.1) url(/assets/icon-car.png) no-repeat 50% 1em;
  -webkit-background-size: 35px auto;
          background-size: 35px auto;
}
/* line 220, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.drive label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 223, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.walk label {
  background: rgba(255, 255, 255, 0.1) url(/assets/icon-walk.png) no-repeat 50% 1em;
  -webkit-background-size: 35px auto;
          background-size: 35px auto;
}
/* line 226, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.walk label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 229, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.transit label {
  background: rgba(255, 255, 255, 0.1) url(/assets/icon-transit.png) no-repeat 50% 1em;
  -webkit-background-size: 35px auto;
          background-size: 35px auto;
}
/* line 232, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.transit label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 235, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.cycle label {
  background: rgba(255, 255, 255, 0.1) url(/assets/icon-bike.png) no-repeat 50% 1em;
  -webkit-background-size: 35px auto;
          background-size: 35px auto;
}
/* line 238, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios li.cycle label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 241, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios input[type=radio]:checked + label {
  background-color: #2c3e50 !important;
}
/* line 244, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.radios input[type=radio] {
  position: absolute;
  left: -999em;
}

/* line 248, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar {
  background-color: #2c3e50;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
/* line 256, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar span, .info-bar a {
  padding: 1em;
  vertical-align: middle;
  display: inline-block;
  color: white;
}
/* line 261, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar .logo {
  background: url(/assets/icon-logo.png) no-repeat 0 50%;
  -webkit-background-size: 30px auto;
          background-size: 30px auto;
  line-height: 30px;
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-left: 1.75em;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 0;
}
/* line 271, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar .logo, .info-bar .share {
  display: none;
}
/* line 273, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar .btn {
  background-color: #f9690e;
  margin: 0;
  padding: 0.9em 1.5em 1.2em;
}
/* line 277, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar .btn:hover {
  background-color: #fa8840;
}
/* line 279, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar span {
  display: none;
}
/* line 281, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar a {
  position: absolute;
  top: 0;
  right: 0.25em;
  text-decoration: none;
}
/* line 286, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 289, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar .share {
  background: url(/assets/icon-share.png) no-repeat 1em 50%;
  -webkit-background-size: 20px auto;
          background-size: 20px auto;
  padding-left: 2.5em;
}
/* line 293, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.info-bar .show-places {
  background: url(/assets/icon-list.png) no-repeat 1em 50%;
  -webkit-background-size: 20px auto;
          background-size: 20px auto;
  padding-left: 2.5em;
}

/* line 299, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .info-bar {
  display: block;
  text-align: center;
  position: static;
}
/* line 303, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .info-bar .logo {
  float: none;
  display: block;
}
/* line 306, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .info-bar .btn {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 310, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .info-bar h1 a {
  padding: 0.35em 1em;
}
/* line 312, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .info-bar h1 a:hover {
  background-color: transparent;
}
/* line 315, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .features {
  max-width: 600px;
  margin: 0 auto;
}
/* line 318, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .features > li {
  margin-bottom: 3em;
}
/* line 320, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
.feature-list .features > li li {
  list-style-type: disc;
  margin-left: 1.5em;
}

@media all and (min-width: 500px) {
  /* line 325, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  h1 {
    font-size: 1.7em;
  }

  /* line 328, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .non-mobile {
    display: inline;
  }

  /* line 331, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .mobile {
    display: none;
  }

  /* line 335, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .searched #map-canvas {
    height: 96%;
    top: 4%;
    display: block;
  }

  /* line 340, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  body, input, button, select {
    font-size: 16px;
  }

  /* line 343, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .locations {
    -webkit-background-size: 50px auto;
            background-size: 50px auto;
  }
  /* line 345, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .locations h1 {
    line-height: 43px;
  }
  /* line 348, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .locations li.go {
    text-align: right;
    padding: 0;
  }

  /* line 353, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .radios label {
    min-height: 0;
  }

  /* line 357, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .info-bar a {
    position: static;
  }
  /* line 359, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .info-bar span, .info-bar .logo, .info-bar .share {
    display: inline-block;
  }
  /* line 361, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .info-bar .btn {
    margin-left: 1em;
    padding-bottom: 1.1em;
    float: right;
  }
  /* line 365, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .info-bar .logo {
    float: right;
    padding-bottom: 0.4em;
  }
  /* line 368, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .info-bar .share-link {
    position: absolute;
    background-color: #2c3e50;
    padding: 1em;
    width: 25em;
    left: 10em;
    top: -10em;
  }
  /* line 375, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .info-bar .share-link.open {
    top: 3em;
  }
  /* line 377, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .info-bar .share-link textarea {
    font-size: 14px;
    border: 0;
    padding: 0.25em;
    width: 100%;
    height: 5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  /* line 385, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .places-list {
    background-color: rgba(38, 166, 91, 0.9);
    height: 100%;
    top: 0;
    left: -28%;
    width: 28%;
    overflow-y: scroll;
    -webkit-transition: 250ms left ease-in;
            transition: 250ms left ease-in;
  }
  /* line 393, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .places-list.open {
    left: 0;
  }
}
@media all and (min-width: 600px) {
  /* line 397, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .twitter, .facebook {
    display: block;
    float: left;
    padding: 0.75em 0 0.75em 0.75em;
  }

  /* line 403, /Users/emmapatricios/projects/meetinthemiddle/app/assets/stylesheets/style.css.sass */
  .facebook iframe {
    height: 22px !important;
  }
}
