#map-canvas

/ empty state
.info-bar
  %span.empty Sorry, no routes were found
  %button.btn.btn-small.new-search Search again
  %span.logo Let's meet in the middle

.locations
  %form{novalidate: "novalidate"}
    %h1 Let's meet in the middle
    %ul.standard
      %li
        %label{for: "place1"} Where are you?
        %input#place1{type: "text", name: "place-1", value: "", placeholder: "e.g. Broadway Street or NW1 0DU", required: "required" }
      %li.place
        %label{for: "place2"} Where are they?
        %input#place2{type: "text", name: "place-2", value: "", placeholder: "e.g. Folsom Street", required: "required" }

      %li
        %label{for: "travelMode"} How are you getting there?
        .select-wrap
          %select#travelMode
            %option{value: "DRIVING"} Driving
            %option{value: "WALKING"} Walking
            %option{value: "TRANSIT"} Taking public transport
            %option{value: "BICYCLING"} Cycling

      %li.go
        %button.btn{type: "submit"} Find a meeting place

      / %li.no-label
      /   .fake-label and want to meet at a
      /   %label{for: "placeType"} What type of place do you want to meet at?
      /   .select-wrap
      /     %select#placeType
      /       %option{value: "coffee"} coffee shop
      /       %option{value: "bar"} pub or bar
      /       %option{value: "restaurant"} restaurant

  / =link_to "Get link to share", "/#p1=51.5154985 -0.17588420000004135&p2=51.5263219 -0.08429820000003474&mode=TRANSIT&type=best coffee", class: "share"

%ul.places-list