#map-canvas

.info-bar
  %span.empty Sorry, no routes were found
  =link_to "Get link to share", "#", class: "share"
  %button.btn.new-search Search again
  %span.logo Let's meet in the middle
  .share-link
    %textarea{readonly: "readonly"}

.locations
  .loading
    %span#bubblingG_1
    %span#bubblingG_2
    %span#bubblingG_3
  %h1 Let's meet in the middle
  %p
    Quickly and easily find a place to meet half-way between two locations.
    Meeting a friend after work for a beer, or a client for a coffee.
    Enter your location, their location and the method of transport and see places you could meet!
  %form{novalidate: "novalidate"}
    %ul.standard
      %li
        %label{for: "place1"} Where are you?
        %input#place1{type: "text", name: "place-1", value: "", placeholder: "e.g. Broadway Street or NW1 0DU", required: "required" }
      %li
        %label{for: "place2"} Where are they?
        %input#place2{type: "text", name: "place-2", value: "", placeholder: "e.g. Folsom Street", required: "required" }

      %li
        %label{for: "travelMode"} How are you getting there?
        %ul.radios
          %li.drive
            %input#drive{type: "radio", name: "travelMode", value: "DRIVING", checked: "checked" }
            %label{for: "drive"} Driving
          %li.walk
            %input#walk{type: "radio", name: "travelMode", value: "WALKING" }
            %label{for: "walk"} Walking
          %li.transit
            %input#transit{type: "radio", name: "travelMode", value: "TRANSIT" }
            %label{for: "transit"} Public transport
          %li.cycle
            %input#cycle{type: "radio", name: "travelMode", value: "BICYCLING" }
            %label{for: "cycle"} Cycling

      %li.go
        %button.btn{type: "submit"} Find a meeting place

%ul.places-list