.info-bar
  %h1=link_to "Let's meet in the middle", root_path
  =link_to "Find a place to meet", root_path, class: "btn"

%ul.features
  %li
    %h2 23 Oct 2014
    %ul
      %li Added loading animation for before map is loaded
  %li
    %h2 22 Oct 2014
    %ul
      %li Get user's country to make sure it finds input locations
      %li Added link to share a URL for the results
      %li Changed travel mode to button picker instead of drop down list

  %li
    %h2 21 Oct 2014
    %ul
      %li Clicking on a marker for the first time zooms and centres map to that point.
      %li Results now available in a list

  %li
    %h2 Launched: 20 Oct 2014
