$navBar: #2C3E50
$textColor: $navBar
$buttonColor: #1E8BC3

body, input, button, select
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  color: $textColor

html, body, #map-canvas
  height: 100%
  margin: 0px
  padding: 0px

.searched #map-canvas
  display: none

ul, ol, li, p, h1, h2, h3, input
  margin: 0
  padding: 0

h1
  font-size: 1.3em
  margin-bottom: 0.5em
  text-transform: uppercase
  text-align: center

input
  border: 0
  border-radius: 0
  line-height: 1.5
  padding: 0.5em
  &.error
    outline: 2px solid #F2784B

input, select
  vertical-align: middle

.right
  float: right

li
  list-style-type: none

label
  display: block

.non-mobile
  display: none

.non-mobile, .mobile
  font-style: normal

.btn
  background-color: #87D37C
  border: 0
  cursor: pointer
  -webkit-appearance: none
  color: #fff
  padding: 0.7em 1.5em
  margin: 0.25em
  &:hover
    background-color: darken(#87D37C, 15%)
  &.btn-small
    font-size: 12px
    background-color: darken(#87D37C, 25%)

p, li
  line-height: 1.5

a
  color: #59ABE3
  text-decoration: underline

.locations
  background-color: rgba($navBar, 0.8)
  color: #fff
  position: absolute
  top: 50%
  left: 50%
  overflow: hidden
  padding: 1.25em
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  z-index: 1
  width: 80%
  li
    padding-bottom: 0.5em
    width: 100%
    input
      width: 90%
  .select-wrap
    display: block
    padding-bottom: 0.5em
  .share
    opacity: 0
    transition: 450ms opacity ease-in
    position: absolute
    left: 1.25em
    bottom: 1.25em
  &.showing-directions
    display: none

.advanced
  display: inline-block
  width: 100%
  label
    position: absolute
    left: -999em

.places-list
  background-color: #26A65B
  color: #fff
  position: absolute
  left: 0
  top: 0
  width: 100%
  li
    cursor: pointer
    padding: 0.5em 1em
    border-bottom: 1px solid darken(#26A65B, 5%)
    span
      font-size: 12px
      display: block

    &:hover
      background-color: darken(#26A65B, 5%)
    &:first-child
      padding-top: 3.75em
    &:last-child
      padding-bottom: 4.75em

.info-bar
  background-color: $navBar
  position: absolute
  left: 0
  top: 0
  width: 100%
  span, a
    padding: 1em
    vertical-align: middle
    display: inline-block
    color: #fff
  .logo
    font-size: 1.5em
    margin-top: 0.4em
    text-transform: uppercase
    font-weight: 600
    padding-top: 0
    padding-bottom: 0
    display: none
  a
    position: absolute
    top: 0
    right: 0.25em

@media all and (min-width: 500px)
  .non-mobile
    display: inline
  .mobile
    display: none

  .searched #map-canvas
    height: 90%
    top: 3em
    bottom: 3em
    display: block

  body, input, button, select
    font-size: 16px

  h1
    font-size: 1.9em

  .locations
    min-width: 640px
    width: auto
    .btn
      margin-top: 1.1em
    .select-wrap
      display: inline-block
      padding-bottom: 0
    li
      float: left
      padding-bottom: 0
      &.place
        width: 50%
        input
          width: 90%
      &.go
        text-align: right
      &:last-child
        padding-right: 0
    &.showing-directions
      bottom: 0
      top: auto
      display: block
      background-color: $navBar
      font-size: 14px
      transform: translate(-50%, 0)
      width: 100%
      padding: 1em 0 0.9em
      text-align: center
      .place input
        width: 60%
      ul, li
        display: inline-block
      input, button, select, label
        font-size: 14px
      .advanced
        margin-top: 0
      label
        display: inline-block
      li
        width: auto !important
        padding-left: 0.75em
      h1
        display: none
      input
        padding: 0.5em
      select
        padding-top: 0.65em
        padding-bottom: 0.7em
      .btn
        padding: 0.6em 0.75em 0.75em 0.75em
        margin: 0

  .advanced
    margin-top: 1em

  .info-bar
    .logo
      float: right
      display: inline-block
    a
      position: static

  .places-list
    background-color: rgba(#26A65B, 0.8)
    height: 100%
    top: 0
    left: -28%
    width: 28%
    overflow-y: scroll
    transition: 250ms left ease-in
    &.open
      left: 0
