!!! 5
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html{lang: "en"}
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Meet you in the middle
    = stylesheet_link_tag "application"
    :plain
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPTeE_33dv_c4kSk_hX8xE9D0bCgqypak&sensor=false&libraries=places">
      </script>
  %body
    =yield
    = javascript_include_tag "application"

